---
const currentYear = new Date().getFullYear()
---

<footer class='flex flex-col items-center text-center p-5 bg-gray-900 w-full'>
	<div class=''>
		<p>© {currentYear} Jhonattan Pérez Velásquez.</p>
		<p>
			<a href='/privacy-policy'>Privacy Policy</a> |
			<a href='/terms-of-service'>Terms of Service</a>
		</p>
	</div>
</footer>
