---
import MainLayout from '@layouts/MainLayout.astro'
---

<MainLayout>
	<h1 class='text-3xl font-bold'>Hola Mundo</h1>
	<section id='about' class='bg-gray-600 h-[200px]'>sobre mi</section>

	<div class='h-screen'></div>

	<section id='projects' class='bg-gray-600 h-[200px]'>projects</section>
</MainLayout>
