---
import NavBar from '@components/shared/NavBar.astro'
import Footer from '@components/shared/Footer.astro'
import TopButton from '@/components/shared/TopButton.astro'

import '@styles/global.css'
---

<html lang='es' class='scroll-smooth'>
	<head>
		<meta charset='utf-8' />
		<link rel='icon' type='image/svg+xml' href='/favicon.svg' />
		<meta name='viewport' content='width=device-width' />
		<meta name='generator' content={Astro.generator} />
		<title>Kaiselion Portfolio</title>
	</head>
	<body
		class='flex flex-col min-h-screen bg-gradient-to-br from-indigo-900 to-indigo-950 text-gray-200 items-center'
	>
		<NavBar />
		<main class='flex-grow w-[60%] flex flex-col gap-12'>
			<slot />
		</main>
		<TopButton />
		<Footer />
	</body>
</html>
